<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Plug Control</title>
</head>
<body>
    <div class="devices" id="fan">
        <form id="fan-connect" action="" method="post">
            <input type="submit" value="fan-connect" id="fan-connect-submit">
        </form>

        <form id="fan-switch" action="" method="post">
            <input type="submit" value="fan-switch" id="fan-switch-submit">
        </form>
    </div>

    <script src="script.js"></script>
</body>
</html>